.forbase-header-toobar {
  display: flex;
  justify-content: space-between;
}
mat-icon {
  width: 30px;
  height: 30px;
  font-size: 30px;
}

.forbase-header-avatar {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center
}
