<mat-toolbar>
  <mat-toolbar-row class="forbase-header-toobar">
    <span>Forbes Articles</span>
    <button *ngIf="!!userInfo" class="forbase-header-avatar" mat-icon-button [matMenuTriggerFor]="menu" aria-label="User menu options">
      <span style="margin-right: 5px;">
        Welcome {{userInfo | userInfo : 'name' }} {{userInfo | userInfo : 'lastname' }}
      </span>
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button *ngIf="!!userInfo" mat-menu-item>
    <span>{{userInfo | userInfo : 'name' }} {{userInfo | userInfo : 'lastname' }}</span>
  </button>
  <button (click)="logout()" mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>logout</span>
  </button>
</mat-menu>
